<aside class="widget">
    <form id="searchForm" action="https://www.qwant.com/" method="get">
        <div class="mc-field-group">
            <input type="text" name="q" placeholder="Rechercher" />
            <button type="submit" class="button">
                <img alt="Rechercher" src="https://platform-cdn.sharethis.com/img/refind.svg" style="height:16px">
            </button>
        </div>
    </form>
    <script>
        (function () {
            var form = document.getElementById('searchForm');
            form.addEventListener('submit', onSearch);

            function onSearch() {
                form.q.value = form.q.value + ' site:diet-blain.net';
            }
        })(document);
    </script>
</aside>