{{ define "aside"}}
<aside class="widget_text widget widget_custom_html cf">
    <h3 class="widget-title">Catégories</h3>
    <div class="textwidget custom-html-widget">
        <ul>
            {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
            <li class="cat-item">
                <a href="/categories/{{ $name | urlize}}/">{{ $name }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</aside>
{{ end }}

{{ define "main" }}
{{ range .Pages }}
{{ $pageLink := .Permalink }}
{{ $pageTitle := .Title }}
<article class="post posts-list">
    <header class="post-header cf">
        <time class="post-date updated" datetime="{{ .Date }}" title="{{ .Date.Format "02/01/2006" }}">
            <span>{{ .Date.Format "02/01" }}</span>
        </time>

        <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    </header>

    <div class="post-content cf">
        <p>{{ .Description }}</p>
        {{ range .Resources }}
        <a href="{{ $pageLink }}"><img src="{{ .RelPermalink }}" alt="{{ $pageTitle }}"></a>
        {{ end }}
        <div class="post-readmore"> <a href="{{ .Permalink }}" class="more-link">Voir la recette</a></div>
    </div>

    <footer class="post-footer">
        <div class="post-footer-wrap cf">
            <div class="post-taxonomy">
                <div class="post-tags">
                    <span>Catégories</span>
                    {{ range .Params.categories }}
                    <a href="/categories/{{ . | urlize}}">{{ . }}</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </footer>
</article>
{{ end }}
{{ end }}