{{ define "main" }}
<article class="post-7 page type-page status-publish hentry post post-single">
    <header class="post-header cf">
        <h1 class="post-title">{{ .Title }}</h1>
    </header>

    <div class="post-content cf">
        <h2 style="color:red">Information COVID 19</h2>
        <p>Les consultations sont assurées au cabinet, dans le respect des règles sanitaires.</p>
        <p>La téléconsultation est également possible.</p>
        <p>Choisir le motif « consultations, examens et soins » sur votre attestation de déplacement dérogatoire.</p>

        {{ .Content }}
    </div>

</article>
{{ end}}